<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="container navbar-brand">E-Generator</a>
</nav>
<section class="bg-secondary">
  <form action="">
    <div class="form-gourp py-2 container">
      <label for="purchaser" class="fw-bold">Purchaser Name</label>
      <input
        type="text"
        class="form-control"
        id="purchaser"
        placeholder="Enter the purchaser name"
      />
    </div>
    <div class="form-gourp py-2 container">
      <label for="artist-name" class="fw-bold">Artist Name</label>
      <input
        type="text"
        class="form-control"
        id="artist-name"
        placeholder="Enter the artist name"
      />
    </div>
    <div class="form-gourp py-2 container">
      <label for="tour-title" class="fw-bold">Tour Title</label>
      <input
        type="text"
        class="form-control"
        id="tour-title"
        placeholder="Enter the tour title"
      />
    </div>
    <div class="form-gourp py-2 container">
      <label for="event-venue" class="fw-bold">Event Venue</label>
      <input
        type="text"
        class="form-control"
        id="event-venue"
        placeholder="Enter the event venue"
      />
    </div>

    <div class="row container">
      <div class="col-6 form-gourp py-2">
        <label for="event-date" class="fw-bold">Date</label>
        <input
          type="text"
          class="form-control"
          id="event-date"
          placeholder="day, month dd, yyyy "
        />
      </div>
      <div class="col 3 form-gourp py-2">
        <label for="doors-open" class="fw-bold">Doors</label>
        <input
          type="text"
          class="form-control"
          id="doors-open"
          placeholder="hh:mm"
        />
      </div>
      <div class="col 3 form-gourp py-2">
        <label for="price" class="fw-bold">Price</label>
        <input
          type="text"
          class="form-control"
          id="price"
          placeholder="$0.00"
        />
      </div>
    </div>

    <div class="row container">
      <div class="col-3 form-gourp py-2">
        <label for="sec" class="fw-bold">SEC</label>
        <input
          type="text"
          class="form-control"
          id="sec"
          placeholder="Section"
        />
      </div>
      <div class="col 3 form-gourp py-2">
        <label for="tour-title" class="fw-bold">ROW</label>
        <input
          type="text"
          class="form-control"
          id="purchaser-name"
          placeholder="Row"
        />
      </div>
      <div class="col 3 form-gourp py-2">
        <label for="seat" class="fw-bold">SEAT</label>
        <input type="text" class="form-control" id="seat" placeholder="Seat" />
      </div>
      <div class="col 3 form-gourp py-2">
        <label for="quantity" class="fw-bold">QTY</label>
        <input
          type="text"
          class="form-control"
          id="quantity"
          placeholder="x2"
        />
      </div>
    </div>

    <div class="row container text-center p-4 justify-content-between">
      <div class="col-4">
        <a href="/user/ticketmaster" class="btn btn-primary" id="master-btn"
          >ticketmaster</a
        >
      </div>
      <div class="col-4">
        <a href="/user/axs" class="btn btn-primary" id="master-btn">axs</a>
      </div>
    </div>
  </form>
</section>
